@import "./../icons.scss";

:host {
  --bg: none;
  --nav-width: 15em;
  --color-icon: rgb(177, 177, 177);
}

.grid-container {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  grid:
    "head" 5em
    "main" 1fr
    /1fr;
}

.grid-container.open {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid:
  "nav head" 2.5em
  "nav  main" 1fr
  / var(--nav-width) 1fr;
}

@media only screen and (min-width: 928px) {
  .grid-container {
    grid:
      "nav head" 2.5em
      "nav  main" 1fr
      / var(--nav-width) 1fr;
  }

  .hideNav {
    grid:
      "head" 2.5em
      "main" 1fr
      / 1fr;
    nav {
      display: none;
    }
  }
}



/* All Grid Items */
.grid-container > * {
  background: var(--bg-color);
}

header {
  grid-area: head;
}

nav {
  grid-area: nav;
}

nav > * {
  width: inherit;
}

main {
  grid-area: main;
}


#drag {
  position: fixed;
  left: calc(var(--nav-width) - 1.7em);
  top: 40vh;
  z-index: 9999;
  cursor: pointer;
  user-select: none;
}

.hideNav {
  left: -10px !important;
}

#drag i {
  font-size: 50px;  /* Preferred icon size */
  color:var(--color-icon);
  background: white;
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(128, 128, 128, 0.212);
}

#drag i:hover {
  font-size: 50px;  /* Preferred icon size */
  color: black;
}

