@import "./../icons.scss";

:host {
  --bg: none;
  --nav-width: 20em;
}

.grid-container {
  margin: 0px;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid:
    "head" 5em
    "main" 1fr
    "nav" 5em
    /1fr;
}

@media only screen and (min-width: 928px) {
  .grid-container {
    grid:
      "nav head" 2.5em
      "nav  main" 1fr
      / var(--nav-width) 1fr;
  }

  .hideNav {
    grid:
      "head" 2.5em
      "main" 1fr
      / 1fr;
    nav {
      display: none;
    }
  }
}



/* All Grid Items */
.grid-container > * {
  background: var(--bg-color);
}

header {
  grid-area: head;
}

nav {
  grid-area: nav;

}

nav > * {
  width: inherit;
}

main {
  grid-area: main;
}


#drag {
  position: fixed;
  left: calc(var(--nav-width) - 1.7em);
  top: 40vh;
  z-index: 9999;
  cursor: pointer;
  user-select: none;
}

.hideNav {
  left: -10px !important;
}

#drag i {
  font-size: 50px;  /* Preferred icon size */
  color:var(--color);
}

#drag i:hover {
  font-size: 50px;  /* Preferred icon size */
  color: black;
}